html{
    font-size:20px;
    font-family:Helvetica;
}
*{
    padding:0px;
    margin:0px;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.container>div{
    height:6rem;
    font-size:6rem;
    display:block;
    overflow:hidden;
}
.container{
    perspective:30rem;
}
.container>div>span{
    display:block;
    height:6rem;
    font-weight:bold;
    letter-spacing:-.2rem;
    text-align:center;
    transition: .3s transform ease-in-out;
    line-height:6.3rem;
    padding: 0 2rem;
}
.container:hover>div>span{
   transform:translateY(-100%);
}
.container>div:nth-child(1){
    background-color:rgba(0,0,0,.08);
    transform:rotatex(30deg);
}
.container>div:nth-child(2){
    background-color:rgba(0,0,0,.05);
    transform:rotatex(-30deg) translateY(-.5rem);
}
.container>div:nth-child(3){
    background-color:rgba(0,0,0,.05);
    transform:rotatex(30deg) translateY(-1rem);
}
.container>div:nth-child(4){
    background-color:rgba(0,0,0,.08);
    transform:rotatex(-30deg) translateY(-1.5rem);
}

